.note p{
  background-color: #DFE2FE;
  border-radius: 5px;
  position: relative;
  text-align: center;
  top:10px;
  padding: 5px 25px;
}

.logo img{
  width: 200px;
}



.record{
  display: flex;
  justify-content: center;
}

#upload-col{
  display: flex;
  justify-content: center;
}

.upload-area{
  display: flex;
  justify-content: center;
}


.start-cam{
  border-radius: 5px;
  background-color: black;
}

.recorded-vid{
  background-color: black;
  border-radius: 5px;
}

.record-btn{
  margin: 10px
}

.play-btn{
  display: none;
}

.download-btn{
  display: none;
}
.video-pre{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}
.retake{
  display: none;
}
.start-btn{
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #d93025;
  outline: none;
  border-radius: 50%;
  border: solid 0.11rem white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.vid-buttons{
  display: flex;
  justify-content: center;
}

button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;

}

button:last-of-type {
  margin: 0;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

video {
  vertical-align: top;
  --width: 25vw;
  width: var(--width);
  height: calc(var(--width) * 0.5625);
}

video:last-of-type {
  margin: 0 0 20px 0;
}

video#gumVideo {
  margin: 0 20px 20px 0;
}

video#recorded{
  display: none;
}
#container{
  width: 100%;
}
/* Video Recorder end */

/* Upload File */

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select some files';
  background: #4353FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.file-upload__input {
  content: 'Select some files';
  background: #4353FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#upload_form{
  width: 100%;
  vertical-align: center;

}
